services:
  api:
    build: .
    ports:
      - '3000:3000'
    environment:
      - DB_HOST=postgres_db
      - DB_PORT=${DB_PORT}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=3000
    depends_on:
      - postgres_db
    networks:
      - vortex-network

  postgres_db:
    image: postgres:15-alpine
    ports:
      - '${DB_PORT}:5432'
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - vortex-network

networks:
  vortex-network:
    driver: bridge

volumes:
  postgres_data:
